.experienceBar {
  display: flex;
  align-items: center;
}

.experienceBar > div {
  flex: 1;
  height: 4px;
  border-radius: 4px;
  background: var(--gray-line);
  margin: 0 1.5rem;
  position: relative;
}

.experienceBar > div > div {
  transition: all 2s;
  height: 4px;
  border-radius: 4px;
  background: var(--green);
  max-width: 100%;
}

span.currentExperience {
  transition: all 2s;
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
}